/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.log
node_modules
.shadow-cljs
public/compiled
public/resources
native/cljs
**/.DS_Store
/resources/
